/* Styling for Login Page */

.content_box {
	margin-left: 40%;
	padding-top: 15%;

	img {
		width: 20%;
		margin-left: 5%;
	}

	.username, .password {
		width: 30%;
	}

	.btn {
		margin-left: 8%;
		padding-left: 5%;
		padding-right: 5%;
	}
	.btn:hover {
		background-color: rgb(0, 199, 0);
		color: black;
	}

	.question_acc {
		margin-left: 3%;
		color: white;
	}
}

@media screen and (max-width: 430px) {
	.content_box {
		margin-left: 30%;
		padding-top: 15%;
	
		img {
			width: 60%;
			margin-left: 0%;
		}
	
		.username, .password {
			width: 100%;
			margin-left: -20%;
		}
	
		.btn {
			margin-left: 1%;
			padding-left: 20%;
			padding-right: 20%;
		}
		.btn:hover {
			background-color: rgb(0, 199, 0);
			color: black;
		}
	
		.question_acc {
			margin-left: -10%;
			color: white;
		}
	}
}
