/* Styling for Register Page */

.content_box {
	margin-left: 30%;
	padding-top: 2%;

	img {
		width: 20%;
		margin-left: 13%;
	}

	.form-control {
		width: 50%;
		margin-bottom: 1%;
	}

	small, .form-check-label {
		color: rgba(255, 255, 255, 0.653);
	}

	button {
		margin-top: 1%;
		padding-left: 2%;
		padding-right: 2%;
	}
	button:hover {
		background-color: aqua;
		color: black;
	}
}

@media screen and (max-width: 430px) {
	.content_box {
		margin-left: 10%;
		padding-top: 2%;
	
		img {
			width: 40%;
			margin-left: 24%;
		}
	
		.form-control {
			width: 90%;
			margin-bottom: 1%;
		}
	
		small, .form-check-label {
			color: rgba(255, 255, 255, 0.653);
		}
	
		button {
			margin-top: 1%;
			padding-left: 20%;
			padding-right: 20%;
			margin-left: 15%;
		}
		button:hover {
			background-color: aqua;
			color: black;
		}
	}
}
