/* Styling for Register Page */
.content_box {
  margin-left: 30%;
  padding-top: 2%; }
  .content_box img {
    width: 20%;
    margin-left: 13%; }
  .content_box .form-control {
    width: 50%;
    margin-bottom: 1%; }
  .content_box small, .content_box .form-check-label {
    color: rgba(255, 255, 255, 0.653); }
  .content_box button {
    margin-top: 1%;
    padding-left: 2%;
    padding-right: 2%; }
  .content_box button:hover {
    background-color: aqua;
    color: black; }
