<!DOCTYPE html>

<head>
	<!-- TODO -->
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

	{% load static %} <!-- Loading in all required static files (See settings.py for configurations) -->

	<!-- Tiny logo icon in tab -->
	<link href="{% static 'TeekerApp/icon/tk_tab_logo.png' %}" rel="shortcut icon"/>

	<!-- CSS for layout -->
	<link href="{% static 'TeekerApp/css/layout.css' %}" rel="stylesheet"/>

	<title>
		{% block title %}{% endblock %}
	</title>
</head>

<body>
	<!-- TODO -->

	<div class="background_layout">
		<main>
			{% block main %}{% endblock %}
		</main>
	</div>
</body>