{% extends "TeekerApp/layout.html" %}
{% load static %} <!-- Loading in all required static files (See settings.py for configurations) -->

{% block title %}
	login
{% endblock %}

{% block main %}
	<!-- TODO -->
	<link href="{% static 'TeekerApp/css/login.css' %}" rel="stylesheet" />

	<div>
		<div class="content_box">
			<img src="{% static 'TeekerApp/icon/tk_login_logo.png' %}" />
			<br>
			{{message}}
			<form action="/login" method="POST">
				{% csrf_token %}
				<input type="text" placeholder="username / email" name="username" class="username form-control"/>
				<br>
				<input type="password" placeholder="password" name="pwd" class="password form-control"/>
				<br>
				<button type="submit" class="btn btn-primary">Login</button>
			</form>
			<span class="question_acc">Don't have an account?</span> <a href="register">Sign-Up</a>
		</div>
	</div>
{% endblock %}