{% extends "TeekerApp/layout.html" %}
{% load static %} <!-- Loading in all required static files (See settings.py for configurations) -->

{% block title %}
	Register
{% endblock %}

{% block main %}
	<!-- TODO -->
	<script src="{% static 'TeekerApp/js/register.js' %}"></script>
	<link href="{% static 'TeekerApp/css/register.css' %}" rel="stylesheet"/>

	<div>
		<div class="content_box">

			<img src="{% static 'TeekerApp/icon/tk_login_logo.png' %}" />
			<br>
			{{message}}
			<form action="/register" method="POST">
				{% csrf_token %}
				<small class="form-text">Username must be 5-15 characters long.</small>
				<input type="text" name="username" minlength="5" maxlength="15" placeholder="username" class="username form-control" required/>
				<input type="text" name="first_name" minlength="0" maxlength="64" placeholder="First Name" class="first_name form-control" required/>
				<input type="text" name="last_name" minlength="0" maxlength="64" placeholder="Last Name" class="last_name form-control" required/>
				<small class="form-text">We'll never share your email with anyone else.</small>
				<input type="email" name="email" minlength="0" maxlength="64" placeholder="Email Address" class="email form-control" required/>
				<small class="form-text">Password must be 8-64 characters long. Uses of .,@#% is recommended to make your password stronger.</small>
				<input type="password" name="pwd" minlength="8" maxlength="64" placeholder="Password" class="pwd form-control" required/>
				<input type="password" name="cpwd" minlength="8" maxlength="64" placeholder="Confirm Password" class="cpwd form-control" required/>
				<div>
					<input type="checkbox" class="form-check-input" name="check_box" id="check_box" required/>
					<label class="form-check-label" for="check_box">Agree to the <a href="#">Terms And Conditions</a> of Teeker</label>
				</div>
				<button type="submit" class="signup-btn btn btn-primary">Sign Up</button>
				<a href="/login"><button type="button" class="back-btn btn btn-warning">Back</button></a>
			</form>
		</div>
	</div>

{% endblock %}